     		<div class="containerw3layouts-agileits" style="width: 100%;">

			<div class="w3layoutscontactagileits">
                <table class="table">
         <thead style="font-size: 20px;">
      <tr>
        <th>Pickup address</th>
        <th>Destination address</th>
          <th></th>
      </tr>
    </thead>
         <tbody>
    {% for item in all_orders %}
    <tr>
        <td>{{item.pickup_address }}</td>
        <td>{{item.destination_address }}</td>
        <td><a class="home-a-tag" style="font-size: 25px;"
               href="{%url 'accept_order' driver_id=driver_number order_id=item.id%}"> Accept </a></td>
    </tr>
    {% endfor %}
         </tbody>
     </table>
            </div>
            </div>
<div class="pagination">

    <span class="step-links">
        {% if all_orders.has_previous %}
            <a class="home-a-tag" style="font-size: 20px;
                " href="?page_all={{ all_orders.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ all_orders.number }} of {{ all_orders.paginator.num_pages }}
        </span>
        {% if all_orders.has_next %}
            <a class="home-a-tag" style="font-size: 20px;"
               href="?page_all={{ all_orders.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

