{% extends 'base.html' %}

{% block content %}
 <div style="margin: auto;
    width: 70%;
    padding: 50px;
    text-align: center;">
  <h1 class="page-header">{% if user.is_authenticated %}Hello, {{ user.username }}!<br><br>{% endif %}
      Welcome to our taxi service!</h1>
     <div class="span7 text-center"><br>
         {% if user.is_authenticated %}
         <a class="home-a-tag" href='{{url}}'>{{data_home}}</a>
         {% else %}
         <h1 >Please,<a class="home-a-tag" href="{% url 'login' %}">login</a>
             or<a class="home-a-tag" href="{% url 'role' %}">sign up</a></h1>
         {% endif %}
     </div>
 </div>
{% endblock %}