{% extends 'base.html' %}

{% load static %}

{% block content %}
<input id="driver_id" type="hidden" value="{{ driver_number }}">
<input id="page_numb" type="hidden" value="{{ all_orders.number }}">

    <h1 id="all-orders" class="tab active" onclick="Change(this)">All Orders</h1>
    <h1 id="your-orders" class="tab not-active" onclick="Change(this)">Your List of Orders</h1>
    <div id="all-orders-active" class="all-orders">
        <div id="list">

            {% include 'includes/page_refreshing.html' %}
        </div>

    </div>
    <div id="your-orders-active" class="your-orders hidden">
        		<div class="containerw3layouts-agileits" style="width: 100%;">

			<div class="w3layoutscontactagileits">
     <table class="table">
         <thead style="font-size: 20px;">
      <tr>
        <th>Pickup address</th>
        <th>Destination address</th>
      </tr>
    </thead>
         <tbody>
    {% for order in driver_orders %}
    <tr>
        <td>{{order.pickup_address}}</td>
        <td>{{order.destination_address}}</td>
    </tr>
    {% endfor %}

    </ul>
         </tbody>
     </table>
            </div>
                </div>
        <!--<div class="pagination">-->
    <!--<span class="step-links">-->
        <!--{% if driver_orders.has_previous %}-->
            <!--<a href="?page_driver={{ driver_orders.previous_page_number }}">previous</a>-->
        <!--{% endif %}-->
        <!--<span class="current">-->
            <!--Page {{ driver_orders.number }} of {{ driver_orders.paginator_driver.num_pages }}-->
        <!--</span>-->
        <!--{% if driver_orders.has_next %}-->
            <!--<a href="?page_driver={{ driver_orders.next_page_number }}">next</a>-->
        <!--{% endif %}-->
    <!--</span>-->
       <!--</div>-->

    </div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/page_refresh.js' %}"></script>
{% endblock %}
