{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>TAXI BOOKING FORM</h1>

		<div class="containerw3layouts-agileits">

			<h2>To reserve the ride, please complete and submit the booking form.</h2>

			<div class="w3layoutscontactagileits">
				<form enctype="multipart/form-data" method="post" action="{% url 'order_form' %}">
					{% csrf_token %}
					{% for field in form %}
						<div class="wthreename agileinfow3ls">
						  <div class="form-group{% if field.errors %} has-error{% endif %}">
							<div class="wthreename-lable wthreelable">
							<label for="{{ field.id_for_label }}">{{ field.label }}</label>
							</div>
							<div class="wthreename-input wthreeinput">
							{{field}}
							  </div>
							{% for error in field.errors %}
							  <p class="help-block">{{ error }}</p>
							{% endfor %}
							<div class="clear"></div>
						  </div>
						</div>
					{% endfor %}

					<div class="wthreename agileinfow3ls">
					<div id="map"></div>
					</div>

					    <div id="mode-selector" class="controls" style="display:none;">
      <input type="radio" name="type" id="changemode-walking">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving" checked="checked">
      <label for="changemode-driving">Driving</label>
    </div>


					<div class="aitssubmitw3ls">
						<input type="submit" name="submit" value="SUBMIT">
					</div>

				</form>
			</div>

		</div>

{% block javascript %}
<script src="{% static 'js/order.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmsSwn0jhNdGukno9J-9HIQy1XQsXqaFs&libraries=places&callback=initMap"></script>

<script>
	$(function() {
	$( ".datepicker" ).datepicker();
	});
</script>
{% endblock %}

{% endblock %}
