{% load widget_tweaks %}

{% for field in driver_form %}
<div class="wthreename agileinfow3ls">
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <div class="wthreename-lable wthreelable">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        <div class="wthreename-input wthreeinput">
            {% render_field field class="form-control top" %}
        </div>
        {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
{% endfor %}