{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Login</h1>

		<div class="containerw3layouts-agileits">

			<div class="w3layoutscontactagileits">
				<form enctype="multipart/form-data" validate-user-url="{% url 'validate_user_login' %}"
					  method="post" action="{% url 'login' %}">
					{% csrf_token %}
					 {% include 'registration/user_form.html' %}
					<div class="aitssubmitw3ls">
						<input type="submit" name="submit" value="LOGIN">
					</div>

				</form>
			</div>
		</div>
{% endblock %}