{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Sign Up</h1>

		<div class="containerw3layouts-agileits">

			<div class="w3layoutscontactagileits">

				<form action="{% url 'user_signup' %}">
					<div class="aitssubmitw3ls">
					<input type="submit" value="I am a client" />
					</div>
				</form>

				<form action="{% url 'signup' %}">
					<div class="aitssubmitw3ls">
					<input type="submit" value="I am a driver" />
					</div>
				</form>
			</div>
		</div>
{% endblock %}


