{% extends 'base.html' %}

{% load static %}

{% block javascript %}
  <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Sign Up</h1>

		<div class="containerw3layouts-agileits">

			<div class="w3layoutscontactagileits">
				<form enctype="multipart/form-data" method="post" validate-user-url="{% url 'validate_user' %}" action="{% url 'signup' %}">
					{% csrf_token %}
					 {% include 'registration/user_form.html' %}
					 {% include 'registration/driver_form.html' %}
					<div class="aitssubmitw3ls">
						<input type="submit" name="submit" value="SIGN UP">
					</div>

				</form>
			</div>
		</div>
{% endblock %}